@charset "UTF-8";
/* CSS Document */

#btn {
	display: block; margin: 10px;
	width: 160px; 
	height: 36px;
	border:none;
	/* transition*/
	-webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
	/* inactive - text */
	font-family: HiraginoSans-W3;
	font-size: 14px;
	color: #F04E23;
	letter-spacing: 0.9px;
	/* bg */
	background-color: #FFFFFF;
	/* border */
	border: 1px solid rgba(240,77,34,0.60);
	border-radius: 6px;
}

#btn:hover {
    /* hover - text*/
	font-family: HiraginoSans-W4;
	font-size: 15px;
	letter-spacing: 0.9px;
	/* hover-bg*/
	background: #FFFFFF;
	border: 1px solid rgba(240,77,34,0.60);
	box-shadow: 0 6px 10px 0 rgba(178,173,167,0.40);
}

#btn:active {
	background-color: #F04E23; 
    color: white;
}

#btn-disabled {
	opacity: 0.6;
    cursor: not-allowed;
	width: 160px; 
	height: 36px;
	margin: 10px;
	border:none;
	/* disabled - text */
	font-family: HiraginoSans-W3;
	font-size: 14px;
	color: #B2ADA7;
	letter-spacing: 0.9px;
	/* bg */
	background-color: #FFFFFF;
	/* border */
	border: 1px solid #B2ADA7;
	border-radius: 6px;
}

#btn-focus {
	display: block; margin: 10px;
	width: 160px; 
	height: 36px;
	border:none;
	/* inactive - text */
	font-family: HiraginoSans-W3;
	font-size: 14px;
	color: #F04E23;
	letter-spacing: 0.9px;
	/* bg */
	background-color: #FFFFFF;
	/* border */
	border: 1px solid rgba(240,77,34,0.60);
	border-radius: 6px;
}
#btn-focus:focus {
	/*remove default focus frame*/
	outline: none;
	/*focus-bg*/
	background-color: #fff;
	/*shadow*/
	box-shadow: 0 0 10px 0 rgba(240,77,34,0.60);
	border-radius: 6px;
	/*text*/
	font-family: HiraginoSans-W4;
}